.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    background-color: #ededed;
}

.sidebar_headerLeft > .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    display: none;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        z-index: 1;
        height: 95vh;
        width: 90vw;
    }

    .sidebar_headerLeft > .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
        display: flex;
    }
}

@media only screen and ( 326px < width <= 600px) {
    .invisible {
        top: 47px;
    }
    
}

@media only screen and (313px < width <= 326px) {
    .invisible {
        top: 55px;
    }
}

@media only screen and (width <= 313px) {
    .invisible {
        top: 65px;
    }
}

.invisible {
    position: absolute;
}

.invisible > .sidebar_chats {
    display: none;
}

.invisible > .sidebar_search {
    display: none;
}

.invisible > .sidebar_header {
    border: none;
}

.invisible > .sidebar_header > .sidebar_headerRight {
    display: none;
}

.invisible > .sidebar_header > .sidebar_headerLeft > .MuiAvatar-root {
    display: none;
}

.sidebar_search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar_searchContainer > input {
    border: none;
    margin-left: 10px;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerLeft {
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 20vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar_chats {
    flex: 1;
    background-color: white;
    overflow-y: auto;
}
